<nav class="fixed inset-x-0 top-0 z-50 flex items-center justify-between w-full p-3 bg-gray-800 ">
  <div class="flex items-center space-x-6">
	  <%= link_to 'Cashlog', root_path, class: 'font-bold text-white' %>

    <%# TODO: Generate quote when user logged in %>
    <p class="pl-6 text-sm font-normal text-gray-500 border-l border-gray-500">Manage your money effectively and efficient</p>
  </div>

	<div class="flex items-center space-x-2">
		<%= link_to 'Sign in', '#', class: 'px-3 py-2 text-sm font-medium text-white hover:bg-gray-700 hover:text-white rounded-md' %>
		<%= link_to 'Sign up', '#', class: 'px-3 py-2 text-sm font-medium text-white rounded-md bg-indigo-500' %>
	</div>
</nav>
