<% if flash[:notice] %>
	<div class="fixed top-0 right-0 z-50 mt-20 scale-100" role="alert">
		<div class="mr-6 shadow-md" style="width: 400px;">
			<div class="flex flex-row items-center justify-between p-3 bg-white border">
				<div class="flex flex-row gap-2">
					<svg class="w-6 h-6 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
					<p class="font-sans font-semibold"><%= flash[:notice] %></p>
				</div>

				<button id="close-modal">
					<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
				</button>
			</div>
		</div>
	</div>
<% end %>

<% if flash[:alert] %>
	<div class="fixed top-0 right-0 z-50 mt-20 scale-100" role="alert">
		<div class="mr-6 shadow-md" style="width: 400px;">
			<div class="flex flex-row items-center justify-between p-3 bg-white border">
				<div class="flex flex-row gap-2">
					<svg class="w-6 h-6 text-red-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
					<p class="font-sans font-semibold"><%= flash[:alert] %></p>
				</div>

				<button id="close-modal">
					<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
				</button>
			</div>
		</div>
	</div>
<% end %>
