<%= render 'shared/searchbar' %>

<ul class="flex flex-col my-8 mx-4 md:mx-8 gap-1">
  <li class="bg-white flex items-center justify-between border px-5 py-5 rounded-md">
    <div class="flex flex-col gap-1">
      <h1 class="font-semibold text-md">Penghasilan</h1>
      <p class="text-sm text-gray-400">28 Januari 2021</p>
    </div>
    <p class="text-green-500 text-sm">+ Rp 4.800.000</p>
  </li>

  <li class="bg-white flex items-center justify-between border px-5 py-5 rounded-md">
    <div class="flex flex-col gap-1">
      <h1 class="font-semibold text-md">Makan siang</h1>
      <p class="text-sm text-gray-400">28 Januari 2021</p>
    </div>
    <p class="text-red-500 text-sm">- Rp 7.000</p>
  </li>
</ul>

<%= render 'shared/fab' %>